[submodule "scripst"]
	path = scripst
	url = https://gitee.com/wrvr/scripts.git
	branch = master
[submodule "my-fictions"]
	path = my-fictions
	url = https://gitee.com/wrvr/my-fictions.git
[submodule "afoa"]
	path = afoa
	url = https://gitee.com/wrvr/afoa.git
